@font-face {
  font-family: 'latobold';
  src: url(../fonts/latobold.ttf);
}

@font-face {
  font-family: 'latolight';
  src: url(../fonts/latolight.ttf);
}

@font-face {
  font-family: 'latoregular';
  src: url(../fonts/latoregular.ttf);
}

@font-face {
  font-family: 'varelaround';
  src: url(../fonts/varelaround.ttf);
}

@font-face {
  font-family: 'fa-brands-400';
  src: url(../fonts/fa-brands-400.ttf);
}

@font-face {
  font-family: 'fa-solid-900';
  src: url(../fonts/fa-solid-900.ttf);
}

.container {
  max-width: 1170px;
  margin: auto;
}

body {
  font-size: 20px;
  color: #8c8f94;
  font-family: 'latoregular', sans-serif;
}

.header {
  height: 100vh;
  background: url(../img/header/bg.jpg) no-repeat;
  background-size: cover;
  background-position: 100% 80%;
}

.header .overlay {
  background: rgba(255, 255, 255, 0.6);
  height: 100%;
  width: 100%;
}

.header .overlay.active {
  background: rgba(255, 255, 255, 0);
}

.header .overlay nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 40px;
}

.header .overlay nav .dropdown {
  width: 20px;
  height: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.header .overlay nav .dropdown span {
  width: 20px;
  height: 3px;
  background: #1b1c1e;
}

.header .overlay nav .dropdown span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #1b1c1e;
}

.header .overlay nav .dropdown span::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: #1b1c1e;
}

.header .overlay nav .menu {
  position: absolute;
  margin-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .overlay nav .menu a {
  font-size: 16px;
  color: rgba(27, 28, 30, 0.5);
  margin-left: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .overlay nav .menu a:first-of-type {
  margin-left: 0;
}

.header .overlay nav .menu a:hover {
  color: #26272d;
}

.header .overlay nav .logo {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.header .overlay nav .logo h5 {
  color: #26272d;
  text-transform: uppercase;
  font-family: 'latolight', sans-serif;
}

.header .overlay nav .logo h5 span {
  font-family: 'latobold', sans-serif;
}

.header .overlay nav .get {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .overlay nav .get .link a {
  font-size: 16px;
  color: rgba(27, 28, 30, 0.5);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin-right: 20px;
}

.header .overlay nav .get .link a:last-of-type {
  margin-right: 0;
}

.header .overlay nav .get .link a:hover {
  color: #26272d;
}

.header .overlay nav .get .btn {
  margin-left: 25px;
}

.header .overlay nav .get .btn button {
  width: 130px;
  height: 45px;
  background: #267df4;
  border-radius: 40px;
  color: #ffffff;
  font-size: 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .overlay nav .get .btn button .fab {
  font-family: 'fa-brands-400';
  font-size: 16px;
  margin-right: 10px;
}

.header .overlay nav .get .btn button:hover {
  background: #ffffff;
  color: #267df4;
  -webkit-box-shadow: 0 0 5px rgba(38, 39, 45, 0.5);
          box-shadow: 0 0 5px rgba(38, 39, 45, 0.5);
}

.header .overlay .title {
  text-align: center;
  margin-top: 90px;
}

.header .overlay .title h2 {
  font-family: 'varelaround', sans-serif;
  font-size: 62px;
  color: #26272d;
}

.header .overlay .title p {
  margin: auto;
  margin-top: 20px;
  line-height: 28px;
  max-width: 780px;
}

.header .overlay .title .btn {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .overlay .title .btn button {
  width: 200px;
  height: 50px;
  border-radius: 40px;
  background: transparent;
  border: 1px solid rgba(38, 39, 45, 0.1);
  font-size: 16px;
  color: #26272d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.header .overlay .title .btn button:hover {
  background: #ffffff;
}

.header .overlay .title .btn button .fas {
  font-family: 'fa-solid-900';
  font-size: 10px;
  margin-right: 10px;
}

.header .overlay .img {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 0;
}

.tour {
  padding-top: 115px;
}

.tour .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tour .block .left {
  max-width: 500px;
}

.tour .block .left .fas {
  font-family: 'fa-solid-900';
  color: #267df4;
  font-size: 30px;
}

.tour .block .left h5 {
  margin-top: 30px;
  font-size: 26px;
  font-family: 'latolight', sans-serif;
  color: #26272d;
  margin-bottom: 25px;
}

.tour .block .left p {
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
}

.tour .block .left p:first-of-type {
  margin-top: 0;
}

.tour .block .right {
  max-width: 500px;
}

.tour .block .right .fas {
  font-family: 'fa-solid-900';
  color: #267df4;
  font-size: 30px;
}

.tour .block .right h5 {
  margin-top: 30px;
  font-size: 26px;
  font-family: 'latolight', sans-serif;
  color: #26272d;
  margin-bottom: 25px;
}

.tour .block .right p {
  font-size: 18px;
  line-height: 26px;
  margin-top: 20px;
}

.tour .block .right p:first-of-type {
  margin-top: 0;
}

.tour .line {
  width: 100%;
  height: 1px;
  background: rgba(38, 39, 45, 0.1);
  margin-top: 120px;
}

.features {
  padding-top: 125px;
  padding-bottom: 190px;
}

.features .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.features .block .img {
  position: absolute;
  left: 0;
}

.features .block .content {
  max-width: 475px;
  float: right;
  margin-top: 140px;
}

.features .block .content h5 {
  max-width: 230px;
  font-size: 42px;
  font-family: 'varelaround', sans-serif;
  color: #26272d;
  line-height: 52px;
  margin-bottom: 40px;
}

.features .block .content p {
  margin-top: 20px;
  line-height: 28px;
}

.features .block .content p:first-of-type {
  margin-top: 0;
}

.features .block .content .btn {
  margin-top: 65px;
}

.features .block .content .btn button {
  font-size: 16px;
  color: #26272d;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.features .block .content .btn button:hover {
  background: #267df4;
  color: #ffffff;
}

.features .block .content .btn .try {
  width: 200px;
  height: 40px;
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 40px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
}

.features .block .content .btn .try .fas {
  font-family: 'fa-solid-900';
  font-size: 12px;
}

.features .block .content .btn .learn {
  margin-left: 15px;
  width: 140px;
  height: 40px;
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 40px;
}

.features .coordinates {
  margin-top: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features .coordinates .content h5 {
  font-family: 'varelaround', sans-serif;
  font-size: 42px;
  color: #26272d;
  line-height: 52px;
  max-width: 290px;
  margin-bottom: 45px;
}

.features .coordinates .content p {
  margin-top: 20px;
  line-height: 28px;
  max-width: 470px;
}

.features .coordinates .content p:first-of-type {
  margin-top: 0;
}

.features .coordinates .content .partners {
  margin-top: 50px;
}

.features .coordinates .content .partners h6 {
  font-family: 'latobold', sans-serif;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #26272d;
}

.features .coordinates .content .partners .links {
  margin-top: 15px;
}

.features .coordinates .content .partners .links a {
  margin-left: 20px;
}

.features .coordinates .content .partners .links a img {
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.features .coordinates .content .partners .links a img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.features .coordinates .content .partners .links a:first-of-type {
  margin-left: 0;
}

.features .coordinates .map {
  position: absolute;
  right: 0;
}

.landing {
  padding-top: 140px;
  padding-bottom: 130px;
  background: #f5f5f8;
}

.landing .title {
  text-align: center;
}

.landing .title h5 {
  font-family: 'varelaround', sans-serif;
  font-size: 42px;
  color: #26272d;
}

.landing .title .line {
  width: 55px;
  height: 2px;
  background: #267df4;
  margin: 30px auto;
}

.landing .title p {
  font-family: 'latobold', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 1.2px;
}

.landing .block-img {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.landing .block-img img {
  height: 100%;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.landing .block-img img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.landing .get {
  margin-top: 190px;
  text-align: center;
}

.landing .get form h5 {
  text-transform: uppercase;
  font-size: 12px;
  color: #3a3d4b;
  letter-spacing: 1.2px;
}

.landing .get form h4 {
  margin-top: 25px;
  font-family: 'varelaround', sans-serif;
  font-size: 42px;
  color: #3a3d4b;
}

.landing .get form .input {
  position: relative;
  width: 505px;
  height: 50px;
  margin-top: 25px;
  text-align: left;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .get form .input input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(38, 39, 45, 0.1);
  border-radius: 40px;
  font-size: 16px;
  color: #3a3d4b;
  padding-left: 20px;
}

.landing .get form .input input::-webkit-input-placeholder {
  color: #3a3d4b;
}

.landing .get form .input input:-ms-input-placeholder {
  color: #3a3d4b;
}

.landing .get form .input input::-ms-input-placeholder {
  color: #3a3d4b;
}

.landing .get form .input input::placeholder {
  color: #3a3d4b;
}

.landing .get form .input .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(50%, -50%);
          transform: translate(50%, -50%);
  text-align: right;
}

.landing .get form .input .btn button {
  background: #6fc754;
  border-radius: 40px;
  width: 165px;
  height: 40px;
  color: #ffffff;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 30px;
}

.landing .get form .input .btn button .fas {
  font-family: 'fa-solid-900';
  font-size: 12px;
}

.landing .get .download {
  margin-top: 50px;
}

.landing .get .download p {
  font-size: 12px;
  color: #3a3d4b;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.landing .get .download .btn {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.landing .get .download .btn button {
  background: #131315;
  border-radius: 40px;
  width: 210px;
  height: 60px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 25px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.landing .get .download .btn button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.landing .get .download .btn button .icon {
  font-family: 'fa-brands-400';
  font-size: 23px;
}

.landing .get .download .btn button .desc {
  text-align: left;
}

.landing .get .download .btn button .desc p {
  font-size: 12px;
  color: #ffffff;
  text-transform: none;
  line-height: 20px;
}

.landing .get .download .btn button .desc p:last-of-type {
  font-size: 23px;
}

.blog {
  padding-top: 135px;
  padding-bottom: 125px;
}

.blog .blog-slider {
  position: relative;
}

.blog .blog-slider .slick-arrow {
  position: absolute;
  top: 25px;
  z-index: 1;
  width: 25px;
  height: 40px;
  font-size: 0;
}

.blog .blog-slider .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/blog/left-arrow.svg) 0 0 no-repeat;
  background-position: 100% 100%;
}

.blog .blog-slider .slick-arrow.slick-next {
  background: url(../img/blog/right-arrow.svg) 0 0 no-repeat;
  right: 0;
  background-position: 100% 100%;
}

.blog .blog-slider .slick-list {
  overflow: hidden;
}

.blog .blog-slider .slick-list .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 10px;
}

.blog .blog-slider .slick-list .slick-track .block {
  text-align: center;
}

.blog .blog-slider .slick-list .slick-track .block .img img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.2;
}

.blog .blog-slider .slick-list .slick-track .block .title {
  display: none;
}

.blog .blog-slider .slick-list .slick-track .block .rating {
  display: none;
}

.blog .blog-slider .slick-list .slick-track .block .author {
  display: none;
}

.blog .blog-slider .slick-list .slick-track .block.slick-center .img img {
  -webkit-box-shadow: 0 30px 30px rgba(38, 39, 45, 0.2);
          box-shadow: 0 30px 30px rgba(38, 39, 45, 0.2);
  border-radius: 50%;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  opacity: 1;
}

.blog .blog-slider .slick-list .slick-track .block.slick-center .title {
  display: block;
  margin-top: 50px;
}

.blog .blog-slider .slick-list .slick-track .block.slick-center .title h5 {
  font-family: 'latolight', sans-serif;
  font-size: 22px;
  line-height: 38px;
  color: #26272d;
}

.blog .blog-slider .slick-list .slick-track .block.slick-center .title p {
  margin-top: 30px;
  line-height: 28px;
}

.blog .blog-slider .slick-list .slick-track .block.slick-center .rating {
  display: block;
  margin-top: 20px;
}

.blog .blog-slider .slick-list .slick-track .block.slick-center .rating .fas {
  font-family: 'fa-solid-900';
  color: #f2bc3b;
}

.blog .blog-slider .slick-list .slick-track .block.slick-center .author {
  display: block;
  margin-top: 40px;
}

.blog .blog-slider .slick-list .slick-track .block.slick-center .author p {
  text-transform: uppercase;
  font-family: 'latobold', sans-serif;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #26272d;
}

.pricing {
  padding-top: 160px;
  padding-bottom: 190px;
  background: #f4f4f5;
}

.pricing .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.pricing .block .content {
  margin-top: 35px;
  max-width: 360px;
}

.pricing .block .content h5 {
  font-family: 'varelaround', sans-serif;
  font-size: 42px;
  color: #26272d;
  line-height: 52px;
}

.pricing .block .content h6 {
  margin-top: 45px;
  text-transform: uppercase;
  font-family: 'latobold', sans-serif;
  font-size: 12px;
  letter-spacing: 1.2px;
  color: #26272d;
}

.pricing .block .content .btn {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid rgba(38, 39, 45, 0.1);
  width: 255px;
  height: 50px;
  border-radius: 40px;
}

.pricing .block .content .btn button {
  font-size: 16px;
  color: #8c8f94;
  text-align: center;
  width: 120px;
  height: 40px;
  border-radius: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pricing .block .content .btn .individual.active {
  background: #ffffff;
  color: #26292c;
}

.pricing .block .content .btn .company.active {
  background: #ffffff;
  color: #26292c;
}

.pricing .block .content p {
  margin-top: 60px;
  line-height: 28px;
}

.pricing .block .content .info {
  margin-top: 25px;
}

.pricing .block .content .info span {
  font-size: 14px;
}

.pricing .block .content .info span a {
  text-decoration: underline;
}

.pricing .block .cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.pricing .block .cards .card {
  width: 330px;
  height: 510px;
  background: #ebebed;
  border-radius: 5px;
  text-align: center;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.pricing .block .cards .card h5 {
  margin-top: 30px;
  font-size: 32px;
  font-family: 'latolight', sans-serif;
  color: #26272d;
}

.pricing .block .cards .card .price {
  margin: auto;
  margin-top: 10px;
  border: 1px solid rgba(38, 39, 45, 0.1);
  width: 65px;
  height: 30px;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pricing .block .cards .card .price span {
  text-transform: uppercase;
  font-size: 11px;
  font-family: 'latobold', sans-serif;
  letter-spacing: 1.1px;
  color: #26272d;
}

.pricing .block .cards .card .desc {
  margin: auto;
  margin-top: 40px;
  max-width: 175px;
}

.pricing .block .cards .card .desc p {
  line-height: 28px;
}

.pricing .block .cards .card .list {
  margin: 0;
  margin-top: 30px;
}

.pricing .block .cards .card .list li {
  list-style: none;
}

.pricing .block .cards .card .list li .fas {
  font-family: 'fa-solid-900';
  color: #6fc754;
  font-size: 14px;
}

.pricing .block .cards .card .list li span {
  margin-left: 5px;
  font-size: 16px;
  color: #26292c;
}

.pricing .block .cards .card .btn {
  position: absolute;
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.pricing .block .cards .card .btn button {
  width: 200px;
  height: 40px;
  border: 1px solid #267df4;
  border-radius: 40px;
  font-size: 16px;
  color: #267df4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.pricing .block .cards .starter.active {
  background: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(38, 39, 45, 0.3);
          box-shadow: 0 0 20px rgba(38, 39, 45, 0.3);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  z-index: 1;
}

.pricing .block .cards .starter.active .btn button:hover:hover {
  background: #267df4;
  color: #ffffff;
}

.pricing .block .cards .pro.active {
  background: #ffffff;
  -webkit-box-shadow: 0 0 20px rgba(38, 39, 45, 0.2);
          box-shadow: 0 0 20px rgba(38, 39, 45, 0.2);
  z-index: 1;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.pricing .block .cards .pro.active .btn button:hover:hover {
  background: #267df4;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */