@media screen and (min-width: 0px) and (max-width: 375px)
  .container 
    max-width: 90% 
  .header 
    & .overlay
      & .top-menu 
        height: 60px 
        & nav 
          height: 60px 
          & .menu 
            display: none 
          & .get 
            & .link 
              display: none 
            & .btn 
              display: none 
      & .title
        padding-top: 100px 
        & h2 
          font-size: 50px  
      & .img 
        display: none 
    & .sidebar 
      width: 100%
  .tour 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .right 
        margin-top: 50px 
  .features
    padding-top: 0
    padding-bottom: 0 
    & .block 
      justify-content: center
      & .img 
        display: none 
      & .content 
        & .btn 
          text-align: center
          & .learn 
            margin-top: 20px 
    & .coordinates
      justify-content: center
      margin-top: 100px 
      & .map
        display: none 
  .landing 
    display: none 
  .pricing 
    padding-top: 60px 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .cards 
        margin-top: 50px  
        flex-wrap: wrap
        justify-content: center
        & .card 
          margin-top: 20px 
          &:first-of-type
            margin-top: 0
  .help 
    & .form 
      & form 
        & .input 
          width: 100% 
  .contacts 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .left 
        max-width: 100%
        text-align: center
        & .btn 
          & button 
            margin: auto
      & .right 
        margin-top: 50px 
        flex-wrap: wrap
        justify-content: center
        & .box 
          margin-right: 0
          flex-basis: 100% 
          margin-top: 50px 
          text-align: center
  .footer 
    & .block 
      align-items: center
      & .copy 
        flex-wrap: wrap
        margin-top: 10px 
@media screen and (min-width: 376px) and (max-width: 412px)
  .container 
    max-width: 90% 
  .header 
    & .overlay
      & .top-menu 
        height: 60px 
        & nav 
          height: 60px 
          & .menu 
            display: none 
          & .get 
            & .link 
              display: none 
            & .btn 
              display: none 
      & .title
        & h2 
          font-size: 50px  
      & .img 
        display: none 
    & .sidebar 
      width: 100%
  .tour 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .right 
        margin-top: 50px 
  .features
    padding-top: 0
    padding-bottom: 0 
    & .block 
      justify-content: center
      & .img 
        display: none 
      & .content 
        & .btn 
          text-align: center
          & .learn 
            margin-top: 20px 
    & .coordinates
      justify-content: center
      margin-top: 100px 
      & .map
        display: none 
  .landing 
    display: none 
  .pricing 
    padding-top: 60px 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .cards 
        margin-top: 50px  
        flex-wrap: wrap
        justify-content: center
        & .card 
          margin-top: 20px 
          &:first-of-type
            margin-top: 0
  .help 
    & .form 
      & form 
        & .input 
          width: 100% 
  .contacts 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .left 
        max-width: 100%
        text-align: center
        & .btn 
          & button 
            margin: auto
      & .right 
        margin-top: 50px 
        flex-wrap: wrap
        justify-content: center
        & .box 
          margin-right: 0
          flex-basis: 100% 
          margin-top: 50px 
          text-align: center
  .footer 
    & .block 
      align-items: center
      & .copy 
        flex-wrap: wrap
        margin-top: 10px 
@media screen and (min-width: 413px) and (max-width: 414px)
  .container 
    max-width: 90% 
  .header 
    & .overlay
      & .top-menu 
        height: 60px 
        & nav 
          height: 60px 
          & .menu 
            display: none 
          & .get 
            & .link 
              display: none 
            & .btn 
              display: none 
      & .title
        & h2 
          font-size: 50px  
      & .img 
        display: none 
    & .sidebar 
      width: 100%
  .tour 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .right 
        margin-top: 50px 
  .features
    padding-top: 0
    padding-bottom: 0 
    & .block 
      justify-content: center
      & .img 
        display: none 
      & .content 
        & .btn 
          text-align: center
          & .learn 
            margin-top: 20px 
    & .coordinates
      justify-content: center
      margin-top: 100px 
      & .map
        display: none 
  .landing 
    display: none 
  .pricing 
    padding-top: 60px 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .cards 
        margin-top: 50px  
        flex-wrap: wrap
        justify-content: center
        & .card 
          margin-top: 20px 
          &:first-of-type
            margin-top: 0
  .help 
    & .form 
      & form 
        & .input 
          width: 100% 
  .contacts 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .left 
        max-width: 100%
        text-align: center
        & .btn 
          & button 
            margin: auto
      & .right 
        margin-top: 50px 
        flex-wrap: wrap
        justify-content: center
        & .box 
          margin-right: 0
          flex-basis: 100% 
          margin-top: 50px 
          text-align: center
  .footer 
    & .block 
      align-items: center
      & .copy 
        flex-wrap: wrap
        margin-top: 10px 
@media screen and (min-width: 415px) and (max-width: 667px)
  .container 
    max-width: 90% 
  .header 
    & .overlay
      & .top-menu 
        height: 60px 
        & nav 
          height: 60px 
          & .menu 
            display: none 
          & .get 
            & .link 
              display: none 
      & .title 
        padding-top: 70px
        & h2 
          font-size: 30px 
        & p 
          font-size: 16px 
        & .btn 
          margin-top: 20px  
      & .img 
        display: none 
    & .sidebar 
      width: 50%
      & .title 
        padding-top: 20px 
        & h5 
          margin-bottom: 15px 
      & .footer 
        display: none 
  .tour 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .right 
        margin-top: 50px 
  .features
    padding-top: 0
    padding-bottom: 0 
    & .block 
      justify-content: center
      & .img 
        display: none 
    & .coordinates
      justify-content: center
      margin-top: 100px 
      & .map
        display: none 
  .landing 
    display: none 
  .pricing 
    padding-top: 60px 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .cards 
        margin-top: 50px  
        flex-wrap: wrap
        justify-content: center
        & .card 
          margin-top: 20px 
          &:first-of-type
            margin-top:  
  .contacts 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .left 
        max-width: 100%
        text-align: center
        & .btn 
          & button 
            margin: auto
      & .right 
        margin-top: 50px 
@media screen and (min-width: 668px) and (max-width: 684px)
  .container 
    max-width: 90% 
  .header 
    & .overlay
      & .top-menu 
        height: 60px 
        & nav 
          height: 60px 
          & .menu 
            display: none 
          & .get 
            & .link 
              display: none 
      & .title 
        padding-top: 100px
        & h2 
          font-size: 40px 
        & .btn 
          margin-top: 20px  
      & .img 
        display: none 
    & .sidebar 
      width: 50%
      & .title 
        padding-top: 20px 
      & .footer 
        display: none 
  .tour 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .right 
        margin-top: 50px 
  .features
    padding-top: 0
    padding-bottom: 0 
    & .block 
      justify-content: center
      & .img 
        display: none 
    & .coordinates
      justify-content: center
      margin-top: 100px 
      & .map
        display: none 
  .landing 
    display: none 
  .pricing 
    padding-top: 60px 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .cards 
        margin-top: 50px    
  .contacts 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .left 
        max-width: 100%
        text-align: center
        & .btn 
          & button 
            margin: auto
      & .right 
        margin-top: 50px 
@media screen and (min-width: 685px) and (max-width: 734px)
  .container 
    max-width: 90% 
  .header 
    & .overlay
      & .top-menu 
        height: 60px 
        & nav 
          height: 60px 
          & .menu 
            display: none 
          & .get 
            & .link 
              display: none 
      & .title 
        padding-top: 100px
        & h2 
          font-size: 40px 
        & .btn 
          margin-top: 20px  
      & .img 
        display: none 
    & .sidebar 
      width: 50%
      & .title 
        padding-top: 20px 
      & .footer 
        display: none 
  .tour 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .right 
        margin-top: 50px 
  .features
    padding-top: 0
    padding-bottom: 0 
    & .block 
      justify-content: center
      & .img 
        display: none 
    & .coordinates
      justify-content: center
      margin-top: 100px 
      & .map
        display: none 
  .landing 
    display: none 
  .pricing 
    padding-top: 60px 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .cards 
        margin-top: 50px    
  .contacts 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .left 
        max-width: 100%
        text-align: center
        & .btn 
          & button 
            margin: auto
      & .right 
        margin-top: 50px 
@media screen and (min-width: 735px) and (max-width: 736px)
  .container 
    max-width: 90% 
  .header 
    & .overlay
      & .top-menu 
        height: 60px 
        & nav 
          height: 60px 
          & .menu 
            display: none 
          & .get 
            & .link 
              display: none 
      & .title 
        padding-top: 100px
        & h2 
          font-size: 40px 
        & .btn 
          margin-top: 20px  
      & .img 
        display: none 
    & .sidebar 
      width: 50%
      & .title 
        padding-top: 20px 
      & .footer 
        display: none 
  .tour 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .right 
        margin-top: 50px 
  .features
    padding-top: 0
    padding-bottom: 0 
    & .block 
      justify-content: center
      & .img 
        display: none 
    & .coordinates
      justify-content: center
      margin-top: 100px 
      & .map
        display: none 
  .landing 
    display: none 
  .pricing 
    padding-top: 60px 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .cards 
        margin-top: 50px    
  .contacts 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .left 
        max-width: 100%
        text-align: center
        & .btn 
          & button 
            margin: auto
      & .right 
        margin-top: 50px 
@media screen and (min-width: 737px) and (max-width: 768px)
  .container 
    max-width: 90% 
  .header 
    & .overlay
      & .top-menu 
        & nav 
          & .menu 
            display: none 
          & .get 
            & .link 
              display: none 
      & .img 
        display: none 
    & .sidebar 
      width: 40%
  .tour 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .right 
        margin-top: 50px 
  .features
    & .block 
      justify-content: center
      & .img 
        display: none 
    & .coordinates
      justify-content: center
      & .map
        display: none 
  .landing 
    display: none 
  .pricing 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .cards 
        margin-top: 50px    
  .contacts 
    & .block 
      flex-wrap: wrap
      justify-content: center
      & .left 
        max-width: 100%
        text-align: center
        & .btn 
          & button 
            margin: auto
      & .right 
        margin-top: 50px 
@media screen and (min-width: 769px) and (max-width: 1024px)
  .container 
    max-width: 90% 
  .header 
    & .overlay
      & .img 
        display: none 
    & .sidebar 
      width: 30%
  .features
    & .block 
      justify-content: center
      & .img 
        display: none 
    & .coordinates
      justify-content: center
      & .map
        display: none 
  .landing 
    display: none 
  .pricing 
    & .block 
      & .cards 
        & .card 
          width: 280px 
