.features 
  padding-top: 125px 
  & .block 
    display: flex
    justify-content: space-around
    & .box 
      max-width: 475px 
      & h5 
        max-width: 230px 
        font-size: 42px 
        +varela
        color: #26272d
        line-height: 52px 
        margin-bottom: 40px 
      & p 
        margin-top: 20px
        line-height: 28px  
        &:first-of-type
          margin-top: 0
      & .btn 
        margin-top: 65px 
        & button 
          font-size: 16px 
          color: #26272d
          transition: 0.3s
          &:hover
            background: #267df4
            color: #ffffff
        & .try 
          width: 200px 
          height: 40px 
          border: 1px solid rgba(#26272d,0.1)
          border-radius: 40px 
          display: inline-flex
          justify-content: space-between
          align-items: center
          padding: 0 20px 
          & .fas 
            +solid 
            font-size: 12px 
        & .learn 
          margin-left: 15px 
          width: 140px 
          height: 40px 
          border: 1px solid rgba(#26272d,0.1)
          border-radius: 40px 